html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

section {
  height: 100vh;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

section.dark {
  background: #1c1c1c;
  color: #e5e7eb;
}

section.light {
  background: #f9fafb;
  color: #111827;
}

.toggle-btn {
  display: flex;
  justify-content: end;
  padding: 10px;
}

.btn.dark {
  background: #1c1c1c;
  color: #e5e7eb;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 2px;
}

.btn.light {
  color: #1c1c1c;
  background: #e5e7eb;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px;
  cursor: pointer;
  box-shadow: 0px 0px 5px;
}

.btn.dark:hover {
  background: #222a2a;
}

.btn.light:hover {
  background: #f3f4f6;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  font-family: 'Karla', sans-serif;
  padding: 0 40px;
  width: 550px;
  height: 550px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.content.dark {
  background: #1f2937;
  color: #e5e7eb;
}

.content.light {
  background: #e5e7eb;
  color: #1c1c1c;
}

h1 {
  font-size: 3rem;
  line-height: 0.3;
}

.password-container {
  padding: 20px 0;
  margin: 30px 0;
}

.btn-password {
  color: #e5e7eb;
  background-color: #10b981;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 7px 14px;
  font-weight: bold;
}

.btn-password:hover {
  background-color: #059669;
  color: #fff;
}

#random-p {
  color: #10b981;
}

.line {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
}

.soft-line {
  border: none;

  margin: 16px 0;
  width: 100%;
  opacity: 0.2;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.soft-line.dark {
  border-top: 2px solid #d1d5db;
}

.soft-line.light {
  border-top: 2px solid #4b5563;
}
